---
---

@import "{{ site.theme }}";

html {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center; 
}

h1 + h2 {
  margin-top: 0; 
}

.main-content img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
