---
---

@import "{{ site.theme }}";

html,
body {
  color: #4A4A4A;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
  margin-bottom: 0 !important;
  color: black !important;
  text-transform: uppercase;
}

h1 + h2,
h4 + h5 {
  margin-top: 0 !important; 
}

h1,
h2,
h3 {
  text-align: center; 
}

h2 {
  margin-bottom: 2rem !important;
  padding-bottom: 1rem !important;
  border-bottom: 2px solid currentcolor;
  clear: both;
}

h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}

.page-header {
  padding: 1.5rem 6rem;
  background-color: #000;
  background-image: none;
}

.main-content {
  font-size: 16px;
}

.main-content img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.main-content h5 {
  margin-top: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

video[poster]{
 object-fit: fill;
}

figure {
  clear: both;
}

img[alt$=">"] {
  float: right;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

img[alt$="<"] {
  float: left;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

img[src*='#left'] {
  float: left;
  margin: 10px 10px 10px 0;
}

img[src*='#center'] {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

img[src*='#right'] {
  float: right;
  margin: 10px 0 10px 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}
