i<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://opensource.teamdf.com/visible/jquery.visible.js"></script>
  <script>  
      $(window).scroll(function() {
        $('video').each(function() {
          if ($(this).visible(true)) {
            $(this)[0].play();
          } else {
            $(this)[0].pause();
          }
        })
     });
   </script>
   </head>
   <body>
    <a id="skip-to-content" class="sr-only" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div style="position: relative;">
      <a href="/"><img src="/images/{{ site.logo }}" alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name" width="250" /></a>
      <span style="position: absolute; top: 0; font-size: 3rem;">&trade;</span>
      </div>
      <a href="/instructions/" class="btn">INSTRUCTIONS</a>
      <a href="/CCLS/" class="btn">CCLS</a>
      <a href="/read-more/" class="btn">READ MORE</a>
      <a href="/testimonials/" class="btn">TESTIMONIALS</a>
      <a href="/references/" class="btn">REFERENCES</a>
      <a href="/applications/" class="btn">APPLICATIONS</a>
      <a href="#for-more-information-contact-us-at" class="btn">CONTACT US</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer" id="for-more-information-contact-us-at">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <h2><b>For more information contact us at:</b></h2>
<p>
        <b>Phone:</b> <a href="tel:1-806-778-2183">(806)778-2183</a> or <a href="tel:1-241-778-0373">(806)241-0373</a>
        </p>
        <p>
        <b>Email:</b> <a href="mailto:pphtheq@gmail.com">pphtheq@gmail.com</a>
</p>
        <hr>
        
        &copy; Copyright 2020, SJMJC, LLC.
<br><br>
        <b>Patent Number: #US 2020-017828A1</b>
      </footer>
    </main>
  </body>
</html>
